.container {
    display: flex;
    flex-direction: column;
    max-width: 423px !important;
    flex-grow: 1;
    text-align: center;
}

.base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}